.about__main {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.about_img {
    flex: 1;
}

.about__text {
    flex: 1;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}